html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  font-size: 10px;
  text-align: center;
  background-color: lightgray;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* ****************Navbar**************** */
.custom-navbar {
  background-color: black;
}
.custom-navbar .drop-down-menu {
  display: none;
}
.custom-navbar .navbar-content-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}
.custom-navbar .navbar-content-wrapper .left-nav {
  flex: 1;
  text-align: right;
  padding-inline-start: 0px;
  margin-right: 50px;
  text-align: right;
}
.custom-navbar .navbar-content-wrapper .left-nav li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  color: whitesmoke;
  list-style: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s linear;
  min-width: 100px;
}
.custom-navbar .navbar-content-wrapper .left-nav li:hover {
  background-color: gray;
  color: turquoise;
}
.custom-navbar .navbar-content-wrapper .left-nav li:focus {
  background-color: gray;
  color: turquoise;
}
.custom-navbar .navbar-content-wrapper .left-nav li:active {
  color: turquoise;
}
.custom-navbar .navbar-content-wrapper .right-nav {
  flex: 1;
  text-align: right;
  padding-inline-start: 0px;
  margin-left: 50px;
  text-align: left;
}
.custom-navbar .navbar-content-wrapper .right-nav li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  color: whitesmoke;
  list-style: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s linear;
  min-width: 100px;
}
.custom-navbar .navbar-content-wrapper .right-nav li:hover {
  background-color: gray;
  color: turquoise;
}
.custom-navbar .navbar-content-wrapper .right-nav li:focus {
  background-color: gray;
  color: turquoise;
}
.custom-navbar .navbar-content-wrapper .right-nav li:active {
  color: turquoise;
}
.custom-navbar .navbar-content-wrapper .nav-logo {
  flex: 0 0 150px;
  max-width: 150px;
}
.custom-navbar .navbar-content-wrapper .nav-logo img {
  width: 100%;
  height: auto;
}
.custom-navbar .nav-logo-mobile {
  display: none;
  flex: 0 0 150px;
  max-width: 150px;
}
.custom-navbar .nav-logo-mobile img {
  width: 100%;
  height: auto;
}

/*Swiper*/
.swiper-container {
  width: 70%;
  height: 80%;
}
.swiper-container .swiper-wrapper .swiper-slide img {
  max-width: 100%;
  max-height: 80%;
  width: auto;
}

.swiper-wrapper .swiper-slide {
  display: flex;
  max-height: 95%;
  justify-content: center;
  align-items: center;
}

/* **********Responsive display************/
@media (min-width: 768px) {
  #navBar {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .custom-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
  }
  .custom-navbar .mobile-header-wrapper {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .custom-navbar .mobile-header-wrapper .nav-logo-mobile {
    display: block;
  }
  .custom-navbar .mobile-header-wrapper .drop-down-menu {
    cursor: pointer;
    display: inline-flex;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    height: 28px;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    transition: border-color 0.4s linear;
  }
  .custom-navbar .mobile-header-wrapper .drop-down-menu::after {
    content: none;
  }
  .custom-navbar .mobile-header-wrapper .drop-down-menu .menu-toggle {
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    transition: all 0.4s linear;
  }
  .custom-navbar .mobile-header-wrapper .drop-down-menu .menu-toggle:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: white;
    transition: all 0.4s linear;
  }
  .custom-navbar .mobile-header-wrapper .drop-down-menu .menu-toggle:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    top: -8px;
    left: 0;
    background-color: white;
    transition: all 0.4s ease-out;
  }
  .custom-navbar .mobile-header-wrapper .drop-down-menu.open {
    border-color: transparent;
  }
  .custom-navbar .mobile-header-wrapper .drop-down-menu.open .menu-toggle {
    transform: rotate(45deg);
  }
  .custom-navbar .mobile-header-wrapper .drop-down-menu.open .menu-toggle:after {
    background-color: transparent;
  }
  .custom-navbar .mobile-header-wrapper .drop-down-menu.open .menu-toggle:before {
    top: 0;
    transform: rotate(90deg);
  }
  .custom-navbar .navbar-content-wrapper {
    display: none;
  }
  .custom-navbar .navbar-content-wrapper .nav-logo {
    display: none;
    order: 1;
    flex: 0 0 auto;
    margin-bottom: 15px;
  }
  .custom-navbar .navbar-content-wrapper .left-nav {
    order: 2;
    flex: 0 0 auto;
    text-align: center;
    margin: 0;
  }
  .custom-navbar .navbar-content-wrapper .left-nav li {
    display: block;
  }
  .custom-navbar .navbar-content-wrapper .right-nav {
    order: 3;
    flex: 0 0 auto;
    text-align: center;
    margin: 0;
  }
  .custom-navbar .navbar-content-wrapper .right-nav li {
    display: block;
  }
}

/*# sourceMappingURL=moonStyle.css.map */
