.navbar {
  background-color: black;
}
.navbar .drop-down-menu {
  display: none;
}
.navbar .navbar-content-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}
.navbar .navbar-content-wrapper .left-nav, .navbar .navbar-content-wrapper .right-nav {
  flex: 1;
  text-align: right;
  padding-inline-start: 0px;
}
.navbar .navbar-content-wrapper .left-nav li, .navbar .navbar-content-wrapper .right-nav li {
  display: inline;
  padding: 5px;
  margin: 5px;
  color: whitesmoke;
  list-style: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.4s linear;
}
.navbar .navbar-content-wrapper .left-nav li:hover, .navbar .navbar-content-wrapper .right-nav li:hover {
  background-color: gray;
  color: turquoise;
}
.navbar .navbar-content-wrapper .left-nav li:active, .navbar .navbar-content-wrapper .right-nav li:active {
  color: turquoise;
}
.navbar .navbar-content-wrapper .left-nav {
  margin-right: 50px;
  text-align: right;
}
.navbar .navbar-content-wrapper .right-nav {
  margin-left: 50px;
  text-align: left;
}
.navbar .navbar-content-wrapper .nav-logo {
  flex: 0 0 150px;
  max-width: 150px;
}
.navbar .navbar-content-wrapper .nav-logo img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
  }
  .navbar .drop-down-menu {
    cursor: pointer;
    display: inline-flex;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    height: 28px;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    transition: border-color 0.4s linear;
  }
  .navbar .drop-down-menu .menu-toggle {
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    transition: all 0.4s linear;
  }
  .navbar .drop-down-menu .menu-toggle:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: white;
    transition: all 0.4s linear;
  }
  .navbar .drop-down-menu .menu-toggle:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    top: -8px;
    left: 0;
    background-color: white;
    transition: all 0.4s ease-out;
  }
  .navbar .drop-down-menu.open {
    border-color: transparent;
  }
  .navbar .drop-down-menu.open .menu-toggle {
    transform: rotate(45deg);
  }
  .navbar .drop-down-menu.open .menu-toggle:after {
    background-color: transparent;
  }
  .navbar .drop-down-menu.open .menu-toggle:before {
    top: 0;
    transform: rotate(90deg);
  }
  .navbar .navbar-content-wrapper {
    display: none;
  }
  .navbar .navbar-content-wrapper .nav-logo {
    order: 1;
  }
  .navbar .navbar-content-wrapper .left-nav {
    order: 2;
  }
  .navbar .navbar-content-wrapper .right-nav {
    order: 3;
  }
}
html, body {
  margin: 0;
  padding: 0;
}

footer {
  font-size: 10px;
  text-align: center;
  background-color: lightgray;
  padding-top: 16px;
  padding-bottom: 16px;
}

/*# sourceMappingURL=moonStyle.css.map */
